---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 90
DerivePointerAlignment: false
IncludeBlocks: Preserve
AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
